@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --background: #F0F2F5;
    --red: #E62E4D;
    --blue: #5429CC;
    --green: #33CC95;
    --blue-light: #6933FF;
    --text-title: #363F5F;
    --text-body: #969CB3;
    --shape: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    font: 16px "Poppins", Arial, sans-serif;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.header {
    background-color: var(--shape);
}

.header header {
    max-width: 1120px;
    margin: 0 auto;
    padding: 2rem 1rem 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.header header img {
    max-width: 80px;
}

section.criaTask {
    background: var(--blue);
    border-radius: 1rem;
    margin-top: -5rem;
    padding: 5rem 4rem;
}

section.criaTask header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

section.criaTask h1 {
    color: var(--background);
    font-size: 2.25rem;
    font-weight: 600;
}

section.criaTask .input-group {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

section.criaTask .input-group input{
    background: var(--shape);
    color: var(--text-body);
    font-family: "Poppins";
    font-weight: 500;
    padding: 0.5rem;
    border: 0;
    border-radius: 0.25rem;
}

section.criaTask .input-group button{
    color: var(--shape);
    padding: 0.65rem;
    background: var(--green);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

section.criaTask .seeTasksDiv ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    padding: 0.75rem;
    color: var(--shape);
    font-weight: 400;
}